@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato";
    font-size: 14px;
    text-align: center;
    background-color: ivory;
}

h1{
    font-size: 3em;
}

#heading{
    color: orangered;
    font-size: 3.2em;
}

p{
    font-size: 1.5em;
}

img {
    border-radius: 1em;
} 